<!-- use def to_key in model, or :as to generate dom_id -->
<%= form_for @subscription, :url => { :action => "create" }, :html => { :method => :post }, :as => 'subscription' do |f| %>

  <p>
    <%= f.hidden_field :email, :value => current_user.email, :readonly => true %>
  </p>
  
  <p>
    <%= f.label "Type" %>
  </p>
  <p>
    <%= f.select :subscription_type, options_for_select(["TEST", "Put categories here"]) %>
  </p>

  <p>
    <%= f.label "Subscriptions" %>
  </p>
  <p>
    Cat Facts
    <%= check_box 'subscription', 'subs1', {}, 'true', 'false' %>
    Subs2
    <%= check_box 'subscription', 'subs2', {}, 'true', 'false' %>
  </p>

  <p>
    <%= f.label "Test Content Form" %>
  </p>
  <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>