<!DOCTYPE html>
<html>
<head>
  <title>Infoscribe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "vendor/modernizr", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<!-- CSS TODO / CLEAN UP HERE -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name" style="margin: 10px">
        <%= link_to "Home", root_path %>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to "About", welcome_about_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Subscriptions", new_subscription_path %></li>
        <% end %>

        <% if user_signed_in? %>
          <li style="color: white; margin: 10px"> Signed in as <%= current_user.email %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li style="color: white; margin: 10px"> or </li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
